/* BODY */

/* HEADER */
.header {
    background-color: grey;
    height: 150px;
}

.ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 60px;
    gap: 50px;
}

/* MAIN */

/* Horarios de atencion */
.dias {
    color: red;
    font-size: 25px;

}

.horarios {
    color: red;
}

/* Contactos */
.form {
    border-bottom: 5px;
    border-style: solid;
    border-color: grey;
    padding: 20px;
    width: 30%;
}

/* FOOTER */
.footer {
    background-color: grey;
    height: 50px;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 15px;
}